:root{
    --secondary: #eeeeee;
    --primary :#3e3749;
}
body{
  height: 100dvh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Honda Logo */
.hondaLogo{
    height: 4.8rem;
    width: auto;
}

.title{
    h1{
        /* text-transform: uppercase; */
        font-weight: bold;
    }
}

/* Fieldset */
legend.dse{
    display: inline-block;
    background: var(--secondary) ;
    width: auto;
    padding: 0px 15px;
    border-radius: 25px;
    height: auto;
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
    top: -30px;
}
legend.customer{
    display: block;
    background: var(--primary) ;
    width: 100%;
    padding: 0px 15px;
    border-radius: 25px;
    height: auto;
    font-size: 18px;
    position: relative;
    top: -45px;
}

.legend{
    width: 100%;
    position: relative;
    left:20px;
    margin-bottom: 20px;
    color: var(--primary);
}
.legend::before{
    content: '';
    display: inline-block;
    width: 160px;
    height: 28px;
    border-radius: 25px;
    z-index: -1;
    position: absolute;
    background: var(--secondary);
    left: -15px;
}
.legend::after{
    content: '';
    display: inline-block;
    width: 90%;
    height: 1px;
    background: var(--secondary);
    position: absolute;
    /* left: -15px; */
    right: 25px;
    top:13px;
    z-index: -2;
}



/* Extras */
.customRadioBtn input[type="radio"] {
    display: none;
  }
  .customRadioBtn .form-check{
    padding-left: 0;
  }
  .customRadioBtn label {
    position: relative;
    color: var(--primary);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.8em;
    border: 1px solid var(--secondary);
    padding: 2.5px 10px;
    border-radius: 20px;
    /* margin-right: 10px; */
  }
  .customRadioBtn label:before {
    content: "";
    height: 15px;
    width: auto;
    aspect-ratio: 1/1;
    border: 2px solid var(--secondary);
    border-radius: 50%;
  }
  
  input[type="radio"]:checked + label:before {
    height: 15px;
    width: auto;
    aspect-ratio: 1/1;
    border: 1px solid var(--primary);
    background-color: #ffffff;
  }
  
  input[type="radio"]:checked + label {
    background-color: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--primary);
  }